/*Shared styles*/
.text {
    color: #181818;

}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn-primary {
    background-color: #695feb;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-primary:hover {
    background-color: #ff4e25;
}

/* Nav styles*/

.title{
    font-size: 35px;
    margin-left: 80px;
    padding-left: 80px;
}

.title-color {
    color: #695feb;
}

.navbar_container{
    /*background: #FFF8F3; */
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
    
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li {
    list-style: none;
    padding: 5px;
    font-size: 25px;
}
nav li a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
nav li a:hover {
    color: #695feb;
}

/* Header styles*/
.header-bg {
    background-color: #FFF8F3; /* Moved from the children */
    background-image: url('./images/developer.png'), url('./images/header_bg.png'); /* Kept the correct image */
    background-repeat: no-repeat; /* Added to prevent tiling */
    background-position: top left, bottom right; /* Added to position the image nicely */
    max-height: 900px;
}

/* Banner section styles*/
.banner{
    width: 0 auto;
    height: 0 auto;
    margin-top: -200px;

}
.banner-container{
    /* background: #FFF8F3; */  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}

.title1{
    font-size: 40px;
}
.title2{
    font-size: 50px;
    color: #695feb;
}
.banner-text{
    margin-left: 300px;
    max-width: 600px;
}

/*About me Section*/
.aboutme-container{
    background-color: #FFF8F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 60px auto;
    width: 80%;
}
.about-me {
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}
.about-container{
    display: flex;
    justify-content: center;
    margin: 20px;

}
.abouts{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*what-i-do-container section*/
.what-i-do{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 20px auto;
    width: 60%;
}
.what-i-do-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    width: 80%;   
    max-width: 1200px;
    gap: 100px;
}

/*Resume summary section*/
.resume-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 60px auto;
    width: 80%;
}

.education-container {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

/*Footer styles*/
.footer-container {
    display: flex;
    background-color: #FFF8F3;
    color: #695feb;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 1440px;
    margin: 0 auto;
}
.footer-left {
    display: flex;
    flex-direction: column;
}
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-left > ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}
.footer-right > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.resume1{
    display: flex;
    gap: 20px;
}

